@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: #2C5364;
    margin-bottom: 50px;
    font-size: 36px;
}

.href {
    margin-top: 20px;
    text-align: right;
    margin-right: 20px;
}

table {

    border-collapse: collapse;
    width: 70%;
    margin: 0 auto;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-left: 100px;
    margin-right: 100px;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

th:first-child, td:first-child {
    text-align: left;
}

a {
    text-decoration: none;
    color: #2C5364;
    font-size: 18px;
    font-weight: bold;
}

.tr {
    text-align: right;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

button a {
    color: #2C5364;
    text-decoration: none;
}

input[type="submit"]:hover {
    background-color: #203A43;
    transform: scale(1.1);
}

input[type="submit"] {
    background-color: #2C5364;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 10px;
}

/* Add a hover effect for buttons */
button:hover {
    background-color: #f0f0f0;
}

/* Style the image to have rounded corners */
.img-manage {
    width: 190px;
    border-radius: 20px;
}


.footer-links-wrapper {
    display: flex;
    justify-content: space-evenly;
}

.footer {
    background-color: #fcfbfb;
    color: #86868b;
    font-size: 0.7em;
}

.footer ul {
    list-style: none;
    padding-bottom: 10px;
    padding-inline-start: 0px;
}

.footer ul a {
    color: #515154;
}

.my-apple-wrapper {
    padding-bottom: 15px;
    margin-top: 10px;
}

.copyright-wrapper {
    display: flex;
    justify-content: center;
}

.copyright {
    margin-top: 15px;
}

.footer-country {
    margin-top: 8px;
}

.flag-wrapper {
    display: inline-block;
    vertical-align: middle;
    padding-right: 5px;
}

.footer-country-name {
    display: inline-block;
    vertical-align: middle;
}

.footer-links-terms ul {
    display: flex;
}

.footer-links-terms ul li {
    padding: 0 10px;
    border-right: 1px solid #d2d2d7;
}

.footer-links-terms ul li a {
    padding: 0 10px;
}

.footer-links-terms ul li:first-child {
    padding-left: 0;
    margin-left: -10px;
}

.footer-links-terms ul li:last-child {
    border-right: 0;
}

.footer-links-wrapper h3 {
    font-size: 12px;
    font-weight: 600;
    color: #1d1d1f;
}

.footer ul li {
    padding: 4px 0;
}

.upper-text-container p {
    width: 78.3%;
    text-align: left;
}

.upper-text-container {
    border-bottom: 1px solid #d2d2d7;
    padding: 17px 0 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.upper-text-container a {
    color: #515154;
}
